.instances{
	font-size: 30px;
}
.input{
	margin-left: 30%;
	height: 20px;
	width: 300px;
}
.selections{
	height: 20px;
	width: 150px;
	margin-left: 30%;
}
.checkBox{
	margin-left: 30%;
}